<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Previsões</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="panel panel-default" style="margin: 10px">
    <div class="panel-heading">
        <h1 class="panel-title">Tempo</h1>
    </div>
    <div class="panel-body">
	    <form class="form-inline" method="POST" th:object="${cidade}" th:action="@{/previsao}" style="margin: 20px 0">
	            <div class="form-group">
	                <input type="text" class="form-control" placeholder="nome"/>
	                
	                <button type="submit" class="btn btn-primary">Adicionar</button>
	            </div>
	        </form>
	
	        <table class="table">
	            <thead>
	            <tr>
	                <th>Semana</th>
	                <th>Temperatura Minima</th>
	                <th>Temperatura Máxima</th>
	                <th>Umidade do ar</th>
	                <th>Descrição</th>
	                <th>Data</th>
	                <th>Latitude</th>
	                <th>Longitude</th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr th:each="clima : ${clima}">
	                <td th:text="${clima.semana.semana}"></td>
	                <td th:text="${clima.minima + '°C'}"></td>
	                <td th:text="${clima.maxima + '°C'}"></td>
	                <td th:text="${clima.umidade}"></td>
	                <td th:text="${clima.descricao}"></td>
	                <td th:text="${clima.data}"></td>
	                <td th:text="${clima.latitude}"></td>
	                <td th:text="${clima.longitude}"></td>
	            </tr>
	            </tbody>
	        </table>
    </div>
</div>
</body>
</html>